<div *ngIf="user">
    <div class="playground">
        <div class="profile">
          <div class="p">
          <div class="name">
              {{user.name}}
          </div>
          <div class="role">
           {{user.username}}
          </div>
          <div class="role">
              {{user.email}}
             </div>
          <div class="socials">
              <a href="https://www.instagram.com/dproni/"><i class="fa fa-facebook"></i></a>
              <a href="https://github.com/dpronin"><i class="fa fa-github"></i></a>
          </div>
          </div>
        </div>
      </div>
</div>